body {
    background: url(../img/mpBg.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

img:hover {
    cursor: pointer;
}

.v-center {
    /* Vertical center */
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.f-center {
    /* Horizontal center */
    display: flex;
    justify-content: center;
    text-align: center;
}

.f-left {
    display: flex;
    justify-content: left;
    text-align: left;
}

.f-right {
    display: flex;
    justify-content: right;
    text-align: right;
}

.player {
    /* Layout */
    padding: .3rem;
    border: 5px solid aliceblue;
    border-radius: 35px;
    text-align: center;
    width: 50vw;
    height: 30vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: aliceblue;
}

.box {
    position: relative;
    /* So we can center images relative to their box */
}


/* Volume control */

#volume-control {
    position: relative;
}

#volume-bar {
    position: absolute;
    width: 150%;
    height: 0;
    top: 30%;
    left: 100%;
    background-color: #ccc;
    border-radius: 3px;
    overflow: hidden;
}

#volume-level {
    width: 100%;
    height: 100%;
    background-color: #8e2dc6a2;
}

#volume-bar.active {
    height: 20%;
}

/* Dynamics */
@media (max-width: 860px) {
    .player {
        width: 60vw;
        height: 40vw;
    }
}

@media (max-width: 700px) {
    .player {
        width: 70vw;
        height: 50vw;
    }
}

@media (max-width: 440px) {
    .player {
        width: 80vw;
        height: 60vw;
    }
}

@media (max-width: 370px) {
    .player {
        width: 90vw;
        height: 70vw;
    }
}

.square {
    position: absolute;
    bottom: 2.5vw;
  }
@media (max-width: 400px) {
    .square {
        bottom: 4vw;
    }
}
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .square{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

/* For navbar */
.navbar {
    /*
    margin: auto;
    width: 20%;
    border-radius: 7px;
    */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 
        4px 4px 10px rgba(0, 0, 0, 0.4), 
        6px 6px 20px rgba(0, 0, 0, 0.5);
}
/*
@media (max-width: 860px) {
    .navbar {
        width: 30%;
    }
}
@media (max-width: 700px) {
    .navbar {
        width: 40%;
    }
}
@media (max-width: 440px) {
    .navbar {
        width: 50%;
    }
}
@media (max-width: 370px) {
    .navbar {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
}
*/
.navbar-center-el {
    margin: auto;
}