<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/Asset_1.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaPlayer.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>SoundBytes</title>
</head>

<body>
    <!-- NAVBAR-->
    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" style="--bs-bg-opacity: .9 !important;">
        <div class="navbar-center-el">
            <ul class="navbar-nav me-auto mb-1 mb-lg-0" style="flex-direction: row">
                <a class="navbar-brand" href="/">
                    <img src="../static/img/Asset_1.ico" alt="Logo">
                </a>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Explore more</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- NAVBAR ENDS HERE-->
    <div class="f-center">
        <div class="player v-center">
            <audio id="audioPlayer">
                <source src="{{ url_for('static', filename='file.wav') }}" type="audio/wav">
            </audio>
            <div class="box f-center" style="height: 60%">
                <div class="box f-right" style="width: 33%">
                    <img onclick="rewind()" class="v-center" src="../static/img/controls/backward.svg" alt="backward-button" width="40%" height="40%">
                </div>
                <div class="box f-center" style="width: 33%">
                    <img id="play-pause-img" onclick="playAudio()" class="v-center" src="../static/img/controls/play.svg" alt="play-button" width="55%" height="55%">
                </div>
                <div class="box f-left" style="width: 33%">
                    <img onclick="forward()" class="v-center" src="../static/img/controls/forward.svg" alt="forward-button" width="40%" height="40%">
                </div>
            </div>
            <div class="box f-center" style="height: 20%">
                <div class="container mt-3">
                    <div id="progress" class="progress" role="progressbar" aria-label="Time elapsed" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">
                        <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 33%; background-color: purple"></div>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <span id="curr-time"></span>
                        <span id="length"></span>
                    </div>
                </div>
            </div>
            <div class="box f-center" style="height: 20%">
                <div id="volume-control">
                    <img id="volume-button" src="../static/img/controls/volume.svg" alt="volume-button-img" width="90%" height="90%">
                    <div id="volume-bar">
                        <div id="volume-level"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="f-center">
        <div class="square">
            <a onclick="addText()" class="button" href="#transcript">
                <img src="../static/img/controls/transcript.svg" alt="transcript">
            </a>
        </div>
    </div>

    <div id="transcript" class="overlay">
        <div class="popup">
            <h2>Transcript</h2>
            <a onclick="removeText()" class="close" href="javascript:void(0)">&times;</a>
            <div id="transcript-text" class="content">
                {{transcript}}
            </div>
        </div>
    </div>

    <script>
        <!--XMLHttpRequest to get base64 from pastebin and saves output-->
        let progress = document.getElementById("progress")
        let progressBar = document.getElementById("progress-bar")
        let currTime = document.getElementById("curr-time")
        let length = document.getElementById("length")
        let play_pause = document.getElementById("play-pause-img")

        var audio = document.getElementById("audioPlayer");
        setInterval(updateCurrentSecond, 1000)
        setTimeout(updateTotalDuration, 1000)
        setTimeout(initVolume, 1000)

        audio.src = "../static/file.wav"

        function playAudio() {
            if (audio.paused) {
                audio.play()
                play_pause.setAttribute("src", "../static/img/controls/pause.svg")
            } else {
                audio.pause()
                play_pause.setAttribute("src", "../static/img/controls/play.svg")
            }
        }

        function rewind() {
            if (audio != null) {
                audio.currentTime -= 10
            }
            updateCurrentSecond()
        }

        function forward() {
            if (audio != null) {
                audio.currentTime += 10
            }
            updateCurrentSecond()
        }

        function updateCurrentSecond() {
            let elapsed = (audio.currentTime / audio.duration) * 100
            progress.setAttribute("aria-valuenow", elapsed)
            progressBar.style.width = elapsed + "%"
            let elapsedMin = Math.floor(audio.currentTime / 60)
            let elapsedSec = Math.floor(audio.currentTime % 60)
            if (elapsedSec < 10) {
                currTime.innerHTML = elapsedMin + ":0" + elapsedSec
            } else {
                currTime.innerHTML = elapsedMin + ":" + elapsedSec
            }
        }

        function updateTotalDuration() {
            total = audio.duration
            totalMin = Math.floor(total / 60)
            totalSec = Math.floor(total % 60)
            if (totalSec < 10) {
                length.innerHTML = totalMin + ":0" + totalSec
            } else {
                length.innerHTML = totalMin + ":" + totalSec
            }
        }

        // VOLUME CONTROL

        let volumeButton = document.getElementById("volume-button")
        let volumeBar = document.getElementById("volume-bar")
        let volumeLevel = document.getElementById("volume-level")

        // Sets the initial volume level
        function initVolume() {
            volumeLevel.style.width = (audio.volume * 100) + "%"
        }

        // Add event listener to toggle the volume bar when the volume button is clicked
        volumeButton.addEventListener("mouseover", function() {
            volumeBar.classList.toggle("active")
        })

        // Add event listener to hide the volume bar when it loses focus
        document.addEventListener("mousedown", function(event) {
            if (!event.target.closest("#volume-control")) {
                volumeBar.classList.remove("active")
            }
        })

        // Add event listener to change the volume level when the user clicks on the volume bar
        volumeBar.addEventListener("click", function(event) {
            try {
                let x = event.clientX - volumeBar.getBoundingClientRect().left
                let percent = x / volumeBar.clientWidth
                audio.volume = percent
                volumeLevel.style.width = (percent * 100) + "%"
            } catch {
                volumeBar.classList.remove("active")
                console.log("An error occurred while trying to use the volume control.")
            }
        })

        // Add event listener to change the volume level when the user drags the volume level
        volumeLevel.addEventListener("mousedown", function(event) {
            try {
                let initialX = event.clientX
                let initialWidth = volumeLevel.clientWidth

                function move(event) {
                    let x = event.clientX
                    let diff = x - initialX
                    let percent = (initialWidth + diff) / volumeBar.clientWidth
                    if (percent >= 0 && percent <= 1) {
                        audio.volume = percent
                        volumeLevel.style.width = (percent * 100) + "%"
                    }
                }

                document.addEventListener("mousemove", move)

                document.addEventListener("mouseup", function() {
                    document.removeEventListener("mousemove", move)
                })
            } catch {
                volumeBar.classList.remove("active")
                console.log("An error occurred while trying to use the volume control.")
            }
        })

        let currentText = document.getElementById("transcript-text").innerHTML

        function removeText() {
            document.getElementById("transcript-text").innerHTML = ""
            window.location.href = "#";
        }

        function addText() {
            document.getElementById("transcript-text").innerHTML = currentText
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>